@use '../base/variables' as v;
@use '../base/mixins' as mix;

.footer {
    background-color: v.$color-principal;

    .contenido-footer {
        padding: 5rem;

        @include mix.tablet { 
            @include mix.grid(3, 2rem);
        }
    }
}

.footer-nosotros {
    @extend .footer;

    @include mix.tablet { 
        width: 100%;
        position: absolute;
        margin-top: -20rem;
    }

    @include mix.desktop { 
        margin-top: 0;
    }
}

.footer-box {
    text-align: center;
    font-family: v.$fuente-cursiva;
    font-style: italic;
    font-weight: 700;
    margin-bottom: v.$separacion;

    @include mix.tablet { 
        margin-bottom: 0;
    }

    h3 {
        font-family: v.$fuente-cursiva;
        font-style: italic;
        font-weight: 700;
        margin: 0 0 1rem 0;
        font-size: 2.4rem;
        color: v.$color-secundario;

        p, a {
            font-size: 2rem;
            margin: 0;
        }
    }
}

.copyright {
    color: v.$blanco;
    text-align: center;
    margin: 0;
    padding: 2.5rem;

    .nombre-sitio {
        display: block;

        @include mix.tablet { 
            display: inline;
        }
    }
}