@use '../base/variables' as v;
@use '../base/mixins' as mix;

.iconos {
    margin-top: 5rem;

    .listado-iconos {
        @include mix.tablet { 
            @include mix.grid(3, 2rem);
        }

        @include mix.desktop { 
            column-gap: 5rem;
        }

        li {
            img {
                margin: 0 auto;
                width: 12rem;
            }

            p {
                font-family: v.$fuente-cursiva;
                font-size: 3.2rem;
                color: v.$color-principal;
                font-style: italic;
                font-weight: 700;
            }
        }
    }
}